@import './variables';

@mixin menuBar {
    display: flex;
    font-size: xx-large;
    background-color: $menu;
    color: map-get($buttonColours, "white");
    justify-content: center;
    align-items: center;
    height: 125px;
    flex-wrap: wrap;
};
