@import './variables';

@mixin menuBar {
    display: flex;
    font-size: xx-large;
    background-color: $menu;
    color: map-get($buttonColours, "white");
    align-items: center;
    height: 100px;
    flex-wrap: nowrap;
};
