
$page-width: 1300px;

@mixin layout {
    max-width: $page-width;
    margin: 0 auto;
}
@mixin stickyheader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}
@mixin linkstyle {
    a:visited, a:link {
        text-decoration: none;
        color: white;
    }
}