@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$raleway-swap: 'Raleway', sans-serif;
$buttonColours: (
    "black": black,
    "white": rgba(255,255,255),
);

$menu: map-get($buttonColours, "black");
$addToCart: map-get($buttonColours, "white");

$widthRanges: (
    "smallMobile": 425px,
    "mobile": 768px,
    "tablet": 900px,
    "laptop": 1024px,
    "wideScreen": 1920px,
    "4k": 2560px,
);
