@import "./variables";
@import "./layout";

@function getWidth($deviceType) {
    @return map-get($widthRanges, $deviceType);
}
:root {
    font-family: $raleway-swap;
    background-color: hsl(0,0%,96%);
    margin: 0 auto;
}
body {
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-text {
    margin-top: 8%;
    margin-bottom: 5%;
    text-align: center;
    line-height: 2.0;
    margin-left: auto;
    margin-right: auto;
}

.card-container {
    max-width: 33%;
    max-height: auto;
}

.product-img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: getWidth("mobile")) {
    .card-container {
        max-width: 50%;
        height: auto;
    }

}