@import "./buttons";
@import "./layout";
@function getWidth($deviceType) {
    @return map-get($widthRanges, $deviceType);
}

.nav-other {
    background-color: black;
}
.nav-other-nav-container {
    @include layout;
    display: flex;
    justify-content: space-evenly;
    a:visited, a:link {
        text-decoration: none;
        color: white;
    }
}
.nav-list-nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.nav-list {
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
    max-width: 500px;
    width: auto;
    margin: 0 auto;
    background-color: black;
    border-radius: 50px 50px 0 0;
    z-index: 10;
    a {
        width: 100%;
    }
    a:link, a:visited {
        text-decoration: underline;
        color: white;  
        text-align: center;
        padding: 0;
        margin: 0;
       }
    a h5 {
        font-size: 24px;
        margin: 0;
        padding: 8px 16px;
    }
}

.thumbnails {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.thumbnail-links {
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    padding-top: 25%;
    padding-bottom: 25%;
}
.shirts {
    background-image: url("https://cdn.shopify.com/s/files/1/0288/6926/3438/files/WeChat_Image_20200805015415_360x.jpg?v=1596617744");
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 25px;
    width: 360px;
    height: 360px;
}
.painting {
    background-image: url("https://cdn.shopify.com/s/files/1/0288/6926/3438/files/6P1A9507_1_540x.jpg?v=1596515372");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 25px;
    width: 360px;
    height: 360px;
}
.accessories {
    background-image: url("https://cdn.shopify.com/s/files/1/0288/6926/3438/files/WeChat_Image_20200805015708_540x.jpg?v=1596617853");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 25px;
    width: 360px;
    height: 360px;
}
.sticky {
    @include stickyheader;
    background-color: black;
    
}
@media only screen and (max-width: getWidth("laptop")) {
    .shirts, .painting, .accessories {
        width: 240px;
        height: 240px;
    }
}
@media only screen and (max-width: getWidth("mobile")) {
    .nav-header{
        display: none;
    }
    .nav-other {
        display: none;
    }
    .thumbnails {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
    }
}
