@import "./buttons";
@import "./layout";
@function getWidth($deviceType) {
    @return map-get($widthRanges, $deviceType);
}
.nav-other {
    display: flex;
    justify-content: space-evenly;
    height: auto;
    @include layout;
}
.nav-list {
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;
    max-width: 500px;
    width: auto; 
    margin: 0 auto;
    background-color: black;
    border-radius: 50px 50px 0 0;
    a:link, a:visited {
        text-decoration: underline;     
        color: white;  
        text-align: center;
        padding: 0;
        margin: 0;
       }
    a h5 {
        font-size: 24px;
        margin: 0;
        padding: 8px 16px;
    }
}

.thumbnails {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    a {
        border-radius: 25px;
        border-style: solid;
        border-color: black;
        width: 75%;
        height: auto;
        text-align: center;
    }
}
.thumbnail-links {
    font-size: 32px;
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width: getWidth("mobile")) {
    .nav-header{
        display: none;
    }
    .nav-other {
        display: none;
    }
    .thumbnails {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        row-gap: 10px;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        a {
            border-radius: 25px;
            border-style: solid;
            border-color: black;
            width: 75%;
            height: auto;
            text-align: center;
        }
    }
}
