@import "../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import "./buttons";
@import "./layout";
@function getWidth($deviceType) {
    @return map-get($widthRanges, $deviceType);
}

.landing-section{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.thumbnail-categories {
    @include layout;
    @include linkstyle;
    height: auto;

}
.hero-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.shopify.com/s/files/1/0288/6926/3438/files/small6_2808x.png?v=1607901744 2808w");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    margin-bottom: 5%;
    width: 100%;
    height: 1000px;
    h1 {
        font-size: 48px;
        text-align: center;
        color: white;
        width: 100%;
        height: auto;
    }
    @include linkstyle; 
}
.btn-container {
    margin-top: -20%;
}
.landing-button {
    cursor: pointer;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 20px 25px;
    width: 200px;
}
.video-container {
    @include layout;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 100%;
    height: auto;
}
#featured-video {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 480px;
}
.video-title {
    text-align: center;
    font-size: 46px;
}
.video-subtitle {
    text-align: center;
    font-size: 32px;
}
.video-subtext {
    font-size: 24px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    line-height: 2.0;
}
.card-container {
    display: inline-block;
}
.feature-block {
    width: 100%;
    background-color: black;
    margin-top: 5%;
    .page-width {
        width: 850px;
        height: auto;
        margin: 0 auto;
    }
    .feature-text {
        display: grid;
        grid-template-columns: 850px;
        grid-template-rows: 125px 150px 300px;
        justify-content: center;
        align-items: center;
        h2 {
            font-size: 22px;
            text-align: center;
            color: white;
        }
        p {
            font-size: 22px;
            line-height: 2.0;
            text-align: center;
            color: white;
            
            a:link {
                color: white;
            }
            a:visited {
                color: white;
            }
        }
    }
}

@media only screen and (max-width: getWidth("mobile")) {
    .hero-top {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 40%;
        margin-bottom: 5%;
        width: 100%;
        height: 500px;
        h1 {
            top: 40%;
        }
    }
    iframe {
        width: 90%;
        height: 360px;
    }
    .feature-block {
        .page-width {
            display: grid;
            align-content: center;
            width: 100%;
            height: 750px;
        }
        .feature-text {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 15% 35% 50%;
            justify-content: center;
            align-content: center;
            h2 {
                font-size: 22px;
                text-align: center;
                color: white;
            }
            p {
                font-size: 18px;
                line-height: 2.0;
                text-align: center;
                color: white;
                
                a:link {
                    color: white;
                }
                a:visited {
                    color: white;
                }
            }
        }
    }
}