p {
    text-align: center;
}

.product-description {
    text-align: center;
    white-space: pre-wrap;
}

@media (pointer: fine) {
    .product-description {
        visibility: hidden;
    }
    .carousel {
        visibility: hidden;
    }
}

.product-description:hover {
    visibility: show;
}

