footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    max-width: 1300px;
    margin-left: 5%;
    margin-right: 5%;
}

.footer-container {
    margin-top: 5%;
}

.footer-about {
    display: flex;
    flex-wrap: nowrap;
    align-self: start;
}

.footer-text {
    font-size: small;
    text-align: left;
}

#email {
    font-size: x-small;
}

#copyright {
    font-size: x-small;
}


.link-table {
    display: flex;
    text-align: left;
    justify-content: center;
}

.social-media {
    justify-self: center;
}

.logo-container {
    margin-left: -10%;
}

.logo-footer {
    max-width: 100%;
    height: auto;
}

.inline-list {
    list-style-type: none;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .link-table {
        margin-top: 5%;
        font-size: small;
    }
    .social-media {
        font-size: small;
    }
    footer {
        display: grid;
        max-width: 1300px;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        height: auto;
    }
    .logo-container {
        margin-top: -3%;
        width: 50%;
        height: auto;
    }
    .footer-text-container {
        margin-top: 5%;
        width: 50%;
    }
    .footer-about {
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-around;
    }
    .logo-container {
        margin-left: 0%;
    }
    .link-table {
        display: flex;
        flex-wrap: nowrap;
    }
    .shop-table, .store-table {
        text-align: center;
    }
}