article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 1300px;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin: 0 auto;
}